body{
   /* background: #A793C6; */
   background: #ffffff;
   font-family: 'Open Sans', sans-serif;   margin: 0;
   margin: auto;
}
.header{
   margin-top: -10px;
   height: 777px;
   background: #A793C6;
}
.header_box {
   max-width: 1440px;
   margin: auto;
}
.logo_name{
   padding-top: 75px;
   margin-left: 135px;
}
.header_text{
   margin-top: 118px;
   margin-left: 260px;
}
.text{
   height: 130px;
   width: 620px;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
   color: #ffffff;
}
.header_manu{
   margin-top: 148px;
   margin-left: 135px;
}
.menu{
   display: flex; 
   height: 50px;
   width: 845px;
   background: rgba(255, 255, 255, 0.18);
   border: 2px solid #FFFFFF;
   border-radius: 10px;
}
.menu_link{
   margin-top: 14px;
   margin-left: 40px;
   margin-bottom: 16px; 
   /* padding-left: 40px;
   margin-top: 14px;
   padding-bottom: 16px; */
   color: #ffffff;
   text-decoration: none;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
}
.header_img{
   /* float: right; */
   position: absolute;
   top: 0;
   right: 0;
   /* z-index: -1; */
}
.for_our{
   /* height: 900px; */
   background-color: #ffffff;
}
.for_our>.column{
   display: flex;
}
.left_block_for_our{
   width: 800px;
}
.for_our_h{
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 26px;
   line-height: 35px;
   text-align: center;
   color: #2B2A2A;
   margin-top: 90px;
   margin-bottom: 60px;
}
.title_adaddition{
   width: 457px;
   margin: auto;
   /* text-align: center; */
}
.title{
   width: 457px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
   color: #262626;
   margin-bottom: 40px;
}
.addition{
   width: 320px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 27px;
   color: #262626;
   margin: auto;
}
.main_text{
   width: 800px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 27px;
   color: #262626;
   margin-top: 70px;
}
.vp_img{
   border: 1px solid #CECECE;
   box-sizing: border-box;
   filter: drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.15));
   border-radius: 10px;
   float: right;
   margin-bottom: 15px;
}
.right_block_for_our::after {
   margin-top: 117px;
}
.vp_img:first-child{
   margin-top: 117px;
}
.button_history{
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: #787878;
   text-align: center;
   margin-bottom: 90px;
}
.column{
   width: 1170px;
   margin: auto;
}
.now_we_help{
   height: 760px;
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.21)),#C7B1E8;
}
.now_we_help_text{
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 26px;
   line-height: 35px;
   text-align: center;

   color: #2B2A2A;

   padding-top: 87px;
   margin-bottom: 80px;
}
.bg_card{
   width: 270px;
   height: 383px;
   background: #FFFFFF;
   border: 1px solid #CECECE;
   box-sizing: border-box;
   box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.cards{
   display: flex;
   justify-content: space-between;
}
.card{
   width: 242px;
   height: 331px;
   /* border: 2px solid red; */
   padding-top: 23px;
   padding-bottom: 26px;
   padding-left: 14px;
   padding-right: 14px;
}
.more{
   display: block;
   margin-top: 70px;
   text-align: center;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;

   color: #343336;
}
.we_helped{
   height: 760px;
   background-color: #ffffff;
}
.we_helped_text {
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 26px;
   line-height: 35px;
   text-align: center;

   color: #2B2A2A;

   padding-top: 90px;
   margin-bottom: 80px;
}
.reviews{
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.21)),#C7B1E8;
   padding-bottom: 96px;
}
.block_reviews{
   display: flex;
   width: 1175px;
   height: 612px;
   background: #FFFFFF;
   border-radius: 10px;
}
.review{
   margin-top: 15px;
   margin-left: 15px;
   vertical-align: top;
}
.right_block_reviews{
   /* height: 582px; */
   padding-right: 15px;
}
.footer{
   height: 834px;
   background: #A793C6;
}
.footer_box{
   max-width: 1440px;
   margin: auto;
   display: flex;

}
.contact{
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 27px;

   color: #FFFFFF;
}
.footer_img{

}