body{
   background: #A793C6;
   font-family: 'Open Sans', sans-serif;
   max-width: 1440px;
   margin: 0;
   margin: auto;
}
.header{
   height: 777px;
}
.logo_name{
   margin-top: 75px;
   margin-left: 135px;
}
.header_text{
   margin-top: 118px;
   margin-left: 260px;
}
.text{
   height: 130px;
   width: 620px;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
   color: #ffffff;
}
.header_manu{
   margin-top: 148px;
   margin-left: 135px;
}
.menu{
   display: flex; 
   height: 50px;
   width: 845px;
   background: rgba(255, 255, 255, 0.18);
   border: 2px solid #FFFFFF;
   /* box-sizing: border-box; */
   border-radius: 7px;
}
.menu_link{
   margin-top: 14px;
   margin-left: 40px;
   margin-bottom: 16px; 
   /* padding-left: 40px;
   margin-top: 14px;
   padding-bottom: 16px; */
   color: #ffffff;
   text-decoration: none;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
}
.header_img{
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
}
.for_our{
   height: 900px;
   background-color: #ffffff;
}
.column{
   width: 1170px;
   margin: auto;
}
.now_we_help{
   height: 760px;
}
.now_we_help_text{
   text-align: center;
   margin-top: 87px;
   margin-bottom: 80px;
}
.bg_card{
   width: 270px;
   height: 383px;
   background: #FFFFFF;
   border: 1px solid #CECECE;
   box-sizing: border-box;
   box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.cards{
   display: flex;
   justify-content: space-between;
}
.card{
   width: 242px;
   height: 331px;
   /* border: 2px solid red; */
   padding-top: 23px;
   padding-bottom: 26px;
   padding-left: 14px;
   padding-right: 14px;
}
.more{
   display: block;
   margin-top: 70px;
   text-align: center;
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;

   color: #343336;
}
.we_helped{
   height: 760px;
   background-color: #ffffff;
}
.we_helped_text {
   text-align: center;
   padding-top: 90px;
   margin-top: 0;
   margin-bottom: 80px;
}
.block_reviews{
   width: 1170px;
   height: 612px;
   background: #FFFFFF;
   border-radius: 10px;
}
.review{
   margin-top: 15px;
   margin-left: 15px;
   vertical-align: top;
}
.block_reviews{
   display: block;
}